/* ==========================================================================
   #elements
   ========================================================================== */

/*
   body
   ========================================================================== */

body {
	font-family: Roboto,sans-serif;
	font-size: 16px;
	line-height: 24px;
}

/*
   headings
   ========================================================================== */

.custom-type-headline, h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

/* ==========================================================================
   #components
   ========================================================================== */

/*
   corner
   ========================================================================== */

.custom-corner img {
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
}

/*
   block
   ========================================================================== */

.custom-block {
	display: block;
}

.custom-block__image {
	margin-bottom: .25rem;
}

/*
   example
   ========================================================================== */

.custom-example {
	font-size: 28px;
}

/*
   shadow
   ========================================================================== */

.custom-shadow--4 {
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.2), 0 2px 4px -1px rgba(0,0,0,.12);
}

/* ==========================================================================
   #variations
   ========================================================================== */

/*
   section--header
   ========================================================================== */

.custom-section--header {
	padding: 6em 0;
	text-align: center;
	background-color: #141414;
}

/*
   section--features
   ========================================================================== */

.custom-section--features {
	margin-top: -9rem;
	padding: 6rem 0 3rem 0;
}

/*
   section--example
   ========================================================================== */

.custom-section--example {
	padding: 3em 0;
	background-color: #f0f0f0;
}

/*
   button--header
   ========================================================================== */

.custom-button--header:active {
	background-color: #f22a2f;
}

/*
   block--feature
   ========================================================================== */

.custom-block--feature {
	text-align: center;
}

.custom-block--feature img {
    padding: 24px;
    border: 8px solid #fff;
    border-radius: 50%;
    color: #fff;
    background-color: #F22A2F;
}



.custom-margin--s { margin:0; }
