/* ==========================================================================
   #type
   ========================================================================== */

/* 
   custom-type--hero
   ========================================================================== */

.custom-type--hero {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
 	letter-spacing: -1px;
 	color:#fff;
   margin-bottom:.375rem;
}

/* 
   custom-color--tagline
   ========================================================================== */

.custom-type--tagline {
	color: #fff;
}

/* ==========================================================================
   #buttons
   ========================================================================== */

/* 
   --banner
   ========================================================================== */

.custom-button--banner {
   color: #fff;
   border: 2px solid #fff;
}

.custom-button--banner:hover {
   color: #222;
   background-color: #fff;
}

/* 
   --round
   ========================================================================== */

.custom-media--round {
   padding: 24px; 
   border: 8px solid #fff;
   border-radius: 50%;
   color: #fff;
   background-color: #FF7D53; 
}